@import "./product.css"; 
@import "modal.css"; 

main {
    padding: 3rem 0.9rem;
    justify-items: normal; 
    
    #formCheckout{
        background-color: var(--colorBgSecond);
        padding: 0.6rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        section{
            padding: 1.25rem 0;

            &:last-of-type{
                padding-bottom: 0;
            }

            header{
                padding-bottom: 1.8rem;

                > h2{
                    font-size: var(--fontPaymentForm); 
                }
            }

            div{
                display: flex;
                flex-direction: column;
                padding-bottom: 0.9rem;

                label{
                    display: block;
                    margin-bottom: 0.35rem;
                    font-weight: var(--fontWeightSemibold);
                    color: var(--colorFontBlack);
                }

                input{
                    width: 100%;
                    padding: 0.75rem 1rem;
                    border: none;
                    font-size: 1rem;
                    background-color: var(--colorInput);
                }
            }
        }

        button{
            width: 100%;
            padding: 0.9rem;
            border: none;
            background-color: var(--colourBgMain);
            color: var(--colorFontWhite);
            cursor: pointer;
            font-size: 1rem;
            font-weight: var(--fontWeightSemibold);
            min-width: var(--touch-min-width); 
            min-height: var(--touch--min-height);

            &:hover{
                opacity: 0.9;
            }

            &:focus{
                outline: 3px solid var(--colorImgOverlay)
            }
            
        }
    }

}

#dialogcheckout > section:last-of-type{
    margin-top: 2rem; 
}

@media(min-width: 600px){
    main {
        justify-items: center;

        #formCheckout{
            width: 80%;
            padding: 1.25rem;

            section > .card-info{
                display: flex;
                flex-direction: row;
                gap: 1.25rem;
            }
        }
    } 
    
}

@media(min-width: 900px){
    main > #formCheckout{
        width: 50%;
        padding: 1.8rem;
    }
}