@import "./product.css"; 

main {
    padding: 50px 15px;
    justify-items: normal; 
    
    #formPayment{
        background-color: var(--colorBgSecond);
        padding: 10px;
        display: flex;
            flex-direction: column;
            gap: 20px;

        section{
            /* display: flex;
            flex-direction: column;
            gap: 20px; */
            padding: 20px 0;

            &:last-of-type{
                padding-bottom: 0;
            }

            header{
                padding-bottom: 30px;

            }

            div{
                display: flex;
                flex-direction: column;
                padding-bottom: 15px;

                label{
                    display: block;
                    margin-bottom: 0.35rem;
                    font-weight: 600;
                    color: var(--colorFontBlack);
                }

                input{
                    width: 100%;
                    padding: 0.75rem 1rem;
                    border: none;
                    /* border-radius: 0.5rem; */
                    font-size: 1rem;
                    background-color: #F1E3CD;
                }
            }

            .checkbox{
                display: flex;
                flex-direction: row;
                gap: 5px;

                input{
                    width: 20px;
                }
            }
        }

        button{
            width: 100%;
            padding: 0.9rem;
            border: none;
            background-color: var(--colourBgMain);
            color: var(--colorFontWhite);
            /* border-radius: 0.5rem; */
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;

            &:hover{
                opacity: 0.9;
            }
            
        }
    }

}

@media(min-width: 600px){
    main {
        justify-items: center;

        #formPayment{
            width: 80%;
            padding: 20px;

            section > .card-info{
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
        }
    } 
    
}

@media(min-width: 900px){
    main > #formPayment{
        width: 50%;
        padding: 30px;
    }
}

