@import "./variable.css";

footer{
  display: grid;
  background-color: var(--colourBgMain);
  grid-template-columns: 1fr;
  gap: 1.25rem;
  padding: 1.8rem;

  section {
    display: flex;
    flex-direction: column;

    header h3 {
      margin-bottom: 0.6rem;
      color: var(--colorFontWhite); 
      font-size: var(--fontFooter); 
      font-weight: var(--fontWeightSemibold);
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.3rem;

        a {
          text-decoration: none;
          color: var(--colorFontWhite); 
          min-width: var(--touch-min-width); 
          min-height: var(--touch--min-height);

          &:hover {
            background-color: var(--colorBgSecond);
            color: var(--colorFontBlack);
            cursor: pointer;
          }

          &:focus{
            background-color: var(--colorBgSecond);
            color: var(--colorFontBlack);
          }
        }
      }
    }
  }
}

@media(min-width: 600px){
  footer{
    grid-template-columns: repeat(4, 1fr);

    section{
      align-items: center;
    }
  }
}