@import "./variable.css";
@import "./footer.css"; 
@import "./navigationMenu.css"; 



.hero {
  background-image: url("../images/homepage-tablet.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: var(--heroHeight); 
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colorImgOverlay); 
    z-index: 1;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--colorFontWhite);
    z-index: 2;
    padding: 0 0.9rem;

    h1, h2{
      font-size: var(--fontBannerHomepage);
      font-weight: var(--fontWeightSemibold);
    }
  }
} 



main{
  padding: 3rem 0.9rem;
  justify-items: center;


  .categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  gap: 1rem;

   > header {
      grid-column: 1 / -1;
      text-align: center;
      font-size: var(--fontSectionTitles);
      margin: 0;
    }

  .category-card {
    position: relative;
    width: 100%; 
    aspect-ratio: 6 / 7;
    overflow: hidden;

    &:last-of-type{
      margin-bottom: 5rem;
    }

    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--colorImgOverlay);
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }

    a {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: var(--colorFontWhite);
      font-weight: var(--fontWeightSemibold);
      z-index: 2;
      font-size: var(--fontSizeCategory); 
      text-decoration: none;
      min-width: var(--touch-min-width); 
      min-height: var(--touch--min-height);

      &:focus{
          outline: 3px solid var(--colorImgOverlay)
      }
    }
  }
}

  #products-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 1rem; 

    > header {
      grid-column: 1 / -1;
      text-align: center;
      font-size: var(--fontSectionTitles);
      font-weight: inherit;
      margin: 0;
      padding-bottom: 0.6rem;
    }

    .product-article{
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
    

      .thumbnail{
        width: var(--thumbnail-dimension);
        height: var(--thumbnail-dimension);
        object-fit: contain;
        display: block;
        min-width: var(--touch-min-width); 
        min-height: var(--touch--min-height);

        &:focus{
          outline: 3px solid var(--colorImgOverlay)
        }
      }

      header{
        padding-bottom: 0.6rem;
        text-align: center;

        a{
          color: var(--colorFontBlack);
          text-decoration: none;
          min-width: var(--touch-min-width); 
          min-height: var(--touch--min-height);

          &:focus{
            outline: 3px solid var(--colorImgOverlay)
          }
        }

        .price::before {
          content: "Price: ";
        }
      }
    }
  }
}


@media(min-width: 500px){
  main{
    .categories {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 6rem;

      .category-card:last-of-type{
        margin-bottom: 0;
      }

      > header{
        text-align: start;
      } 
    }
    
    #products-list {
      grid-template-columns: repeat(3, 1fr);

      > header{
        padding-bottom: 20px;
      }
    }

  }
}

@media(min-width: 700px){
  .hero {
    background-image: url("../images/homepage-desktop.avif");

    .hero-content{
      align-items: end;
      padding-right: 3rem;
    }
  }
}

@media(min-width: 900px) {
  main{
    .categories {
      grid-template-columns: repeat(4, 1fr);
    }

    #products-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}