@import "./signup.css"; 

main{
#formLogin{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    label{
        display: block;
        margin-bottom: 0.35rem;
        font-weight: var(--fontWeightSemibold);
        color: var(--colorFontBlack);
    }

    input{
        width: 100%;
        padding: 0.75rem 1rem;
        border: none;
        font-size: 1rem;
        background-color: var(--colorInput);

        &:focus{
            outline: 3px solid var(--colorImgOverlay)
        }
    }

    button{
        width: 100%;
        padding: 0.9rem;
        border: none;
        background-color: var(--colourBgMain);
        color: var(--colorFontWhite);
        cursor: pointer;
        font-size: 1rem;
        font-weight: var(--fontWeightSemibold);

        &:hover{
            opacity: 0.9;
        }
        
        &:focus{
            outline: 3px solid var(--colorImgOverlay)
        }
    }
}
}