@import "./variable.css";

nav{
  background-color: var(--colourBgMain);
  padding: 1.25rem;

  ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .hideOnMobile {
      display: none;
    }

    .hidden{
      display: none !important;
    }

    li{
      &:first-child{
      margin-right: auto;
      }

      #btnLogout, #openSidebar{
        border: none;
        background-color: var(--colourBgMain);
        color: var(--colorFontWhite);
        font-size: var(--fontHeader);
        font-weight: var(--fontWeightSemibold);
        min-width: var(--touch-min-width); 
        min-height: var(--touch--min-height);

        &:hover {
          background-color: var(--colorInput);
          color: var(--colorFontBlack);
          cursor: pointer;
        }

        &:focus{
          background-color: var(--colorBgSecond);
          color: var(--colorFontBlack);
        }
      }

      > a {
        height: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--colorFontWhite);
        font-size: var(--fontHeader);
        font-weight: var(--fontWeightSemibold);
        min-width: var(--touch-min-width); 
        min-height: var(--touch--min-height);

        &:hover {
          background-color: var(--colorInput);
          color: var(--colorFontBlack);
          cursor: pointer;
        }

        &:focus{
          background-color: var(--colorBgSecond);
          color: var(--colorFontBlack);
        }
      }
    }  
  }
}


.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index:  999;
  background-color: var(--colourBgMain);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--fontHeader);
  font-weight: var(--fontWeightSemibold);
  color: var(--colorFontWhite);

  &.active{
    display: flex;
    padding: 2rem 1.25rem;
    gap: 0;
  }

  li{
    width: 100%;

    a,
    button {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 1rem 0;
      color: var(--colorFontWhite);
      text-decoration: none;
      font-size: var(--fontHeader);
      font-weight: var(--fontWeightSemibold);
      background: none;
      border: none;
      min-width: var(--touch-min-width); 
      min-height: var(--touch--min-height);

      &:hover{
        background-color: var(--colorFontWhite);
        color: var(--colorFontBlack);
        cursor: pointer;
      }

      &:focus{
        background-color: var(--colorBgSecond);
        color: var(--colorFontBlack);
      }
    }
  }
}

@media(min-width: 700px){
  nav > ul > li{
    padding: 0 1.8rem;
  }
  nav > ul >.hideOnMobile{
    display: block;
  }
  nav > ul > .menuButton{
    display: none;
  }
  .sidebar{
    display: none !important;
  }
}