@import "./home.css"; 

.underpage{
    height: var(--heroHeightUnderpage);

    .hero-content{
        align-items: start;
        padding-left: 1.25rem;

        h1 {
            font-size: var(--fontSectionTitles);
        }

        nav{
            background-color: transparent !important;
            padding: 0; 

            .breadcrumb {
                display: flex;
                flex-flow: row wrap;
                gap: 0.5rem;
                list-style: none;
                padding: 0;
                margin: 0;

                li::after {
                    content: ">";
                    margin-left: 0.5rem;
                }

                li:last-child::after {
                    content: "";
                }

                li > a{
                    color: var(--colorFontWhite);
                    text-decoration: none;
                    min-width: var(--touch-min-width); 
                    min-height: var(--touch--min-height);
                }
            }
        }

    }
}

main{
    padding: 3rem 0.9rem;

    #card-info{
        section{
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;

            img{
                width: var( --thumbnail-dimension); 
                height: auto;
            }
        }
        
        #card-details{
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            header > h2{
                font-size: var(--fontSectionTitles);
            }

            #item-rating{
                font-weight: var(--fontWeightSemibold);

                &:before{
                    content: "Rating: ";
                }
            }

            #item-price{
                font-weight: var(--fontWeightSemibold);

                &:before{
                    content: "Price: "; 
                }
            }

            #item-category::before{
                content: "Category: ";
                font-weight: var(--fontWeightSemibold);
            }

            button{
                padding: 0.6rem;
                background-color: var(--colorBgSecond);
                color: var(--colorFontBlack);
                border: none;
                margin-top: 0.9rem;
                font-weight: var(--fontWeightSemibold);
                cursor: pointer;
                min-width: var(--touch-min-width); 
                min-height: var(--touch--min-height);

                &:hover{
                    background-color: var(--colourBgMain);
                    color: var(--colorFontWhite);
                }

                &:focus{
                    outline: 3px solid var(--colorImgOverlay)
                }
            }
        }

    }
}

@media(min-width: 600px){
    main{
        padding: 2.5rem;

        #card-info{
            display: flex;
            gap: 1.25rem;

            #card-details > button{
                width: 80%
            }
        }

    }
}

@media(min-width: 900px) {
  main{
    #card-info{
        gap: 50px;

        section > img{
            width: var(--img-dimension);
            height: auto;
        }
    }
  }
}