@import "./home.css"; 

main{
    .contact{
        display: flex;
        max-width: 800px;
        /* justify-content: center; */

        picture{
            display: none;
        }

        .form-content{
            display: flex;
            flex-direction: column;
            width: 100%;
            /* max-width: 450px; */
            margin: 0 auto;
            padding: 2rem;
            background-color: var(--colorBgSecond);
            /* border-radius: 0.75rem;
            box-shadow: 0 0 20px rgba(0,0,0,0.1); */

            header h1{
                /* text-align: center; */
                margin-bottom: 1.5rem;
                font-size: clamp(1.5rem, 3vw, 2.2rem);

            }

            #formSignup{
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                label{
                    display: block;
                    margin-bottom: 0.35rem;
                    font-weight: 600;
                    color: var(--colorFontBlack);
                }

                input{
                    width: 100%;
                    padding: 0.75rem 1rem;
                    border: none;
                    /* border-radius: 0.5rem; */
                    font-size: 1rem;
                    background-color: #F1E3CD;
                }

                button{
                    width: 100%;
                    padding: 0.9rem;
                    border: none;
                    background-color: var(--colourBgMain);
                    color: var(--colorFontWhite);
                    /* border-radius: 0.5rem; */
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: 600;

                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

@media(min-width: 600px){
    main{ 
        padding: 50px; 

        .contact > picture{
            display: block;
            position: relative;
            width: 100%;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(19, 22, 26, 0.5); 
                z-index: 1;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover; 
                
            }
        }
    }
}