@import "./home.css"; 

main{
    .contact{
        display: flex;
        max-width: var(--containerAccess);

        picture{
            display: none;
        }

        .form-content{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
            padding: 2rem;
            background-color: var(--colorBgSecond);

            header h1{
                margin-bottom: 1.5rem;
                font-size: var(--fontAccessPages)

            }

            #formSignup{
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                label{
                    display: block;
                    margin-bottom: 0.35rem;
                    font-weight: var(--fontWeightSemibold);
                    color: var(--colorFontBlack);
                }

                input{
                    width: 100%;
                    padding: 0.75rem 1rem;
                    border: none;
                    font-size: 1rem;
                    background-color: var(--colorInput);

                    &:focus{
                        outline: 3px solid var(--colorImgOverlay)
                    }
                }

                button{
                    width: 100%;
                    padding: 0.9rem;
                    border: none;
                    background-color: var(--colourBgMain);
                    color: var(--colorFontWhite);
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: var(--fontWeightSemibold);
                    min-width: var(--touch-min-width); 
                    min-height: var(--touch--min-height);

                    &:hover{
                        opacity: 0.9;
                    }

                    &:focus{
                        outline: 3px solid var(--colorImgOverlay)
                    }
                }
            }
        }
    }
}

@media(min-width: 600px){
    main{ 
        padding: 3rem;

        .contact > picture{
            display: block;
            position: relative;
            width: 100%;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--colorImgOverlay); 
                z-index: 1;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover; 
                
            }
        }
    }
}