@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

:root{
  /* COLORS  */
  --colourBgMain: #594a4a;
  --colorBgSecond: #E8D2AE; 
  --colorInput: #F1E3CD; 
  --colourBgComplementary: #f7f7f7;
  --colorFontWhite: white; 
  --colorFontBlack: black;
  --colorCloseDialog: #666;

  
  --colorImgOverlay: rgba(0, 0, 0, 0.5); 
  --colorDialogBg: rgba(0, 0, 0, 0.6); 


  /* FONT */
  --fontBase: 'Roboto', sans-serif;
  --fontWeightNormal: 400;
  --fontWeightSemibold: 600;


  --fontSectionTitles: clamp(1.125rem, 2.5vw, 3rem);
  --fontBannerHomepage: clamp(1.5rem, 4vw + 1rem, 3rem);
  --fontHeader: clamp(1rem, 1.5vw, 1.3rem);
  --fontFooter: clamp(1rem, 1.5vw, 1.2rem);
  --fontBody: clamp(1rem, 1.2vw, 1.25rem);
  --fontPaymentForm: clamp(1.5rem, 2.5vw + 1rem, 2rem);
  --fontAccessPages: clamp(1.5rem, 3vw, 2.2rem);
  --fontSizeCategory: 1.8rem; 
  
  


  /* SIZE/DIMENSIONS  */

  --card-width: 300px;
  --thumbnail-dimension: 200px;
  --img-dimension: 400px; 
  --heroHeight: clamp(30vh, 40vw, 55vh); 
  --heroHeightUnderpage: clamp(20vh, 25vw, 35vh);
  --containerAccess: 800px; 
  --dialog: min(90%, 420px);  

  --touch-min-width: 44px;
  --touch--min-height: 44px;

  --addedItemButton: 300px; 

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--fontBase);
  background-color: var(--colourBgComplementary);
  font-size: var(--fontBody);
  font-weight: var(--fontWeightNormal);
}
