@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

:root{
  /* COLORS  */
  --colourBgMain: #594a4a;
  --colorBgSecond: #E8D2AE; 
  --colourBgComplementary: rgb(247, 247, 247);
  --colorFontWhite: white; 
  --colorFontBlack: black; 


  /* FONT */
  --fontBase: 'Roboto', sans-serif;
  --fontWeightNormal: 400;
  --fontWeightSemibold: 600;


  --fontSectionTitles: clamp(1.125rem, 3vw, 4rem);
  --fontBannerHomepage: clamp(1.5rem, 4vw + 1rem, 3rem);
  --fontHeader: clamp(1rem, 1.5vw, 1.3rem);
  --fontFooter: clamp(1rem, 1.5vw, 1.2rem);
  --fontBody: clamp(1rem, 1.2vw, 1.25rem);
  --fontPaymentForm: 
  


  /* SIZE/DIMENSIONS  */

  --card-width: 300px;
  --card-height: 400px;

  --thumbnail-dimension: 200px;
  --heroHeight: clamp(30vh, 40vw, 55vh); 
  --heroHeightUnderpage: clamp(20vh, 25vw, 35vh);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--fontBase);
  background-color: var(--colourBgComplementary);
  font-size: var(--fontBody);
}
